<% include partials/header %>
<script>
    var socket = io();
    socket.emit('login',{userId:"<%=currentUser.username%>"});
</script>

<div class="talk-wrapper">
    <div class="add-friend-popup-wrapper">
        <div class="container">
            <div class="row">
                <div class="two-half column">
                    <div class="popup">
                        <a href="#close-add-friend-popup"><img src="/images/icons/dark-grey-x.png" class="image-popup-close"></a>
                        <div class="row center">
                            <h4>Add Friend</h4>
                        </div>
                        <br>
                        <form action="/searchGlobalUsers" method="POST" id="form-search-global-users">
                            <div class="row">
                                <input type="text" name="globalUserSearch" class="u-full-width" placeholder="Search" id="add-friend-search-input">
                            </div>
                            <div class="row">
                                <button class="button-green-large" class="u-full-width" id="add-friend-search-submit">Search</button>
                            </div>
                        </form>
                        <%if (globalUserSearchQuery) {%>
                            <% globalUserSearchQuery.forEach(function(user){ %>
                                <% if (user.username != currentUser.username) {%>
                                    <form action="/addFriend" method="POST" class="form-add-friend" id="form-add-<%=user.username%>">
                                        <br>
                                        <textarea class="hidden-input" name="globalUserName"><%=user.username%></textarea>
                                        <img class="image-global-friend" src="<%=user.profilePicture%>"><p class="global-friend-text"><b><%=user.username%></b><br><i><%=user.language%></i></p>
                                        <a onclick="document.getElementById('form-add-<%=user.username%>').submit();"><img class="image-add-global-friend" src="images/icons/add-plus.png"></a>
                                    </form>
                                <%}%>
                            <% }); %>
                            <% if (globalUserSearchQuery.length == 0) {%>
                                <p>Could not find any users</p>
                            <%}%>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
        <div class="dark-overlay">
        </div>
    </div>
    <div class="profile-picture-popup-wrapper">
        <div class="container">
            <div class="row">
                <div class="two-half column">
                    <div class="popup">
                        <a href="#close-profile-picture-popup"><img src="/images/icons/dark-grey-x.png" class="image-popup-close"></a>
                        <div class="row center">
                            <h4>Profile Picture</h4>
                        </div>
                        <br>
                        <form action="/uploadProfilePicture" enctype="multipart/form-data" method="POST" id="form-upload-profile-picture">
                            <div class="row center">
                                <div class="twelve columns">
                                <%if (currentUser)  {%>
                                    <img class="image-current-user u-max-full-width" src="<%=currentUser.profilePicture%>">
                                <%}%>
                                </div>
                            </div>
                            <div class="row">
                                <label id="profile-picture-upload-image-label" for="profile-picture-upload-image-input">Upload an Image</label>
                            </div>
                            <input type="file" accept="image/*" name="uploadProfilePicture" id="profile-picture-upload-image-input">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="dark-overlay">
        </div>
    </div>
    <div class="container" id="talk-container">
        <div class="row">
            <div class="twelve columns">
                <div id="options-bar-div">
                <div class="row">
                    <div class="one column">
                        <a href="#"><img src="images/unilingual-logo-text.png" id="image-options-bar-unilingual-logo"></a>
                    </div>
                    <div class="one column">
                        <a class="options-bar-text">Options</a>
                    </div>
                    <div class="one column">
                        <a class="options-bar-text">Help</a>
                    </div>
                    <div class="one column">
                        <a class="options-bar-text" id="options-bar-logout" href="/logout">Log Out</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="three columns">
                <div id="friends-div">
                    <div id="current-user-div">
                        <div class="user-status" id="current-user-status"></div>
                        <%if (currentUser)  {%>
                            <a href="#" id="current-user-profile-picture"><img id="image-current-user-profile-picture" src="<%=currentUser.profilePicture%>"></a>
                            <h4 id="current-user-name"><%=currentUser.username%></h4>
                            <a id="current-user-language" href="#"><em><%=currentUser.language%></em> v</a>
                        <%}%>
                        <a id="add-friend-button" href="#"><img id="image-add-user" src="/images/icons/add-user.png"></a>
                        <br>
                        <br>
                        <hr style="margin: 0; position:relative; bottom: 90px;">
                        <input id="input-search-friends-list" type="text" placeholder="Search friends list">
                        <hr style="margin: 0; position:relative; bottom: 110px;">
                    </div>
                    <%if (currentUser.pendingFriends.length > 0) {%>
                        <div class="row center">
                            <h6 class="pending-friends-title">Pending Friend Requests</h6>
                        </div>
                        <% currentUser.pendingFriends.forEach(function(user){ %>
                            <div class="pending-friend">
                                <form action="/acceptFriend" method="POST" class="form-accept-friend-request" id="form-accept-<%=user.username%>-request">
                                    <textarea class="hidden-input" name="globalUserId"><%=user._id%></textarea>
                                    <textarea class="hidden-input" name="globalUserName"><%=user.username%></textarea>
                                    <textarea class="hidden-input" name="globalUserLanguage"><%=user.language%></textarea>
                                    <textarea class="hidden-input" name="globalUserProfilePicture"><%=user.profilePicture%></textarea>
                                    <img class="accept-friend-request" onclick="document.getElementById('form-accept-<%=user.username%>-request').submit();" src="images/icons/green-checkmark.png">
                                </form>
                                <form action="/declineFriend" method="POST" class="form-decline-friend-request" id="form-decline-<%=user.username%>-request">
                                    <textarea class="hidden-input" name="globalUserId"><%=user._id%></textarea>
                                    <textarea class="hidden-input" name="globalUserName"><%=user.username%></textarea>
                                    <img class="decline-friend-request" onclick="document.getElementById('form-decline-<%=user.username%>-request').submit(); "src="images/icons/red-x.png">
                                </form>
                                <img class="pending-friend-profile-picture" src="<%=user.profilePicture%>">
                                <h5 class="pending-friend-name"><%=user.username%></h5>
                                <em class="pending-friend-language"><%=user.language%></em>
                            </div>
                        <% }); %>
                        <hr style="margin: 10px 0px 0px 0px; position:relative; bottom: 110px;">
                    <%}%>
                    <div class="friends-list-div">
                        <%if (currentUser.friends.length > 0) {%>
                            <% currentUser.friends.forEach(function(user){ %>
                                <a class="friend" data-userid="#<%=user._id%>">
                                    <div class="user-status friend-status"></div>
                                    <img class="friend-profile-picture" src="<%=user.profilePicture%>">
                                    <h5 class="friend-name"><%=user.username%></h5>
                                    <em class="friend-language"><%=user.language%></em>
                                    <div class="friend-backboard"></div>
                                    <!--<img src="images/talk/right-arrow.png" class="arrow-right">-->
                                </a>
                            <% }); %>
                        <%}%>
                    </div>
                </div>
            </div>
            <div class="nine columns">
                <%if (currentUser.friends.length > 0) {%>
                    <% currentUser.friends.forEach(function(user){ %>
                        <div class="chat-div" data-userid="#<%=user._id%>">
                            <div class="user-status chat-friend-status"></div>
                            <img class="chat-friend-profile-picture" src="<%=user.profilePicture%>">
                            <h2 class="chat-friend-name"><strong><%=user.username%> - </strong><em><%=user.language%></em></h2>
                            <a href="#"><img class="image-chat-call" src="images/icons/talk-phone.png"></a>
                            <ul class="chat-history-div"></ul>
                            <form action="" id="form-send-message">
                                <div class="row">
                                    <div class="ten columns">
                                        <textarea class="chat-message-input" autocomplete="off"></textarea>
                                    </div>
                                    <div class="two columns">
                                        <button class="chat-message-send">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    <% }); %>
                <%}%>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>

