<% include partials/header %>
<div class="talk-wrapper">
    <div class="add-friend-popup-wrapper">
        <div class="container">
            <div class="row">
                <div class="two-half column">
                    <div class="log-in-popup">
                        <a href="#close-add-friend-popup"><img src="/images/icons/dark-grey-x.png" class="image-popup-close"></a>
                        <div class="row center">
                            <h4>Add Friend</h4>
                        </div>
                        <br>
                        <form action="/searchGlobalUsers" method="POST" id="form-search-global-users">
                            <div class="row">
                                <input type="text" name="globalUserSearch" class="u-full-width" placeholder="Search" id="add-friend-search-input">
                            </div>
                            <div class="row">
                                <button class="button-green-large" class="u-full-width" id="add-friend-search-submit">Search</button>
                            </div>
                        </form>
                        <%if (globalUserSearchQuery) {%>
                            <% globalUserSearchQuery.forEach(function(user){ %>
                                <% if (user.username != currentUser.username) {%>
                                    <br>
                                    <img class="image-global-friend" src="<%=user.profilePicture%>"><p class="global-friend-text"><b><%=user.username%></b><br><i><%=user.language%></i></p>
                                    <a href="#add-<%=user._id%>"><img class="image-add-global-friend" src="images/icons/add-plus.png"></a>
                                <%}%>
                            <% }); %>
                            <% if (globalUserSearchQuery.length == 0) {%>
                                <p>Could not find any users</p>
                            <%}%>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
        <div class="dark-overlay">
        </div>
    </div>
    <div class="container" id="talk-container">
        <div class="row">
            <div class="twelve columns">
                <div id="options-bar-div">
                <div class="row">
                    <div class="one column">
                        <a href="#"><img src="images/unilingual-logo-text.png" id="image-options-bar-unilingual-logo"></a>
                    </div>
                    <div class="one column">
                        <a class="options-bar-text">Options</a>
                    </div>
                    <div class="one column">
                        <a class="options-bar-text">Help</a>
                    </div>
                    <div class="one column">
                        <a class="options-bar-text" id="options-bar-logout" href="/logout">Log Out</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="three columns">
                <div id="friends-div">
                    <div id="current-user-div">
                        <div class="user-status" id="current-user-status"></div>
                        <%if (currentUser)  {%>
                            <a href="#"><img id="current-user-profile-picture" src="<%=currentUser.profilePicture%>"></a>
                            <h4 id="current-user-name"><%=currentUser.username%></h4>
                            <a id="current-user-language" href="#"><em><%=currentUser.language%></em> v</a>
                        <%}%>
                        <a id="add-friend-button" href="#"><img id="image-add-user" src="/images/icons/add-user.png"></a>
                        <br>
                        <br>
                        <hr style="margin: 0; position:relative; bottom: 90px;">
                        <input id="input-search-friends-list" type="text" placeholder="Search friends list">
                        <hr style="margin: 0; position:relative; bottom: 110px;">
                    </div>
                    <div class="friends-list-div">
                        <a class="friend">
                            <div class="user-status friend-status"></div>
                            <img class="friend-profile-picture" src="images/talk/blank-profile-picture.png">
                            <h5 class="friend-name">Jane Doe</h5>
                            <em class="friend-language">French</em>
                        </a>
                    </div>
                </div>
            </div>
            <div class="nine columns">
                <div id="chat-div">
                    <div class="user-status chat-friend-status"></div>
                    <img class="chat-friend-profile-picture" src="images/talk/blank-profile-picture.png">
                    <h2 class="chat-friend-name"><strong>Jane Doe - </strong><em>French</em></h2>
                    <a href="#"><img class="image-chat-call" src="images/icons/talk-phone.png"></a>
                    <div class="chat-history-div"></div>
                    <textarea class="chat-message-textarea"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>

